$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-small-desktop: 1024px;

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100%;

  background-color: rgba(0, 139, 139, 0.25);
  background-image: url("../assets/ecobrutalism.jpg");
  background-blend-mode: overlay;

  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.main_background_splitter {
  position: absolute;
  height: 100vh;
  width: 50%;
  right: 0;
  z-index: 1;
  background: #1d1d1d;
}

.hidden {
  display: none;
  opacity: 0;
}

@keyframes gradient {
  0% {background: #FF4500;}
  20% {background: #32CD32;}
  40% {background: #800080;}
  60% {background: #7F00FF;}
  80% {background: #008000;}
  100% {background: #FF4500;}
}

@keyframes gradient_text {
  0% {color: #FF4500;}
  20% {color: #32CD32;}
  40% {color: #800080;}
  60% {color: #7F00FF;}
  80% {color: #008000;}
  100% {color: #FF4500;}
}

#particles {
  position: absolute;
  height: 100vh;
  z-index: 0;
}

.title {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.title, .title_splitter{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.type_container {
  padding-top: 3rem;
}

.type_container, .type_container span {
  font-size: 3.5rem;
  text-align: center;
  //animation: gradient_text 20s ease infinite;
  color: cyan;
}

.title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 5;

  .nav_logo img {
    width: 8rem;
    padding: 1.5rem;
    position: absolute;
  }

  .nav_logo {
    color: ghostwhite;
    font-size: 1.5rem;
    padding: 1.5rem;
    position: absolute;
  }
}

.nav_header {
  font-size: 1.5rem;
  padding: 1.5rem;
  color: cyan;
}

.nav_item_container {
  display: flex;
  color: #1d1d1d;
  font-size: 1.5rem;

  .nav_item {
    margin: 1.5rem;
    transition: 0.15s ease;

    &:hover {
      cursor: pointer;
      color: cyan;
    }
  }
}

.title_splitter {
  font-size: 20rem;
  color: #1d1d1d;

  .main_title_left {
    //animation: gradient_text 20s ease infinite;
    color: #1d1d1d;
  }

  .main_splitter {
   padding-left: 3rem;
    color: cyan;
  }

  .main_title_right {
    color: cyan;
  }
}


// !! These need to be setup at some point
// Mobile
@media screen and (max-width: $breakpoint-mobile) {
  .title_container, .type_container, .type_container span, .nav_item_container {
    font-size: 1.5rem;
  }

  .title_splitter {
    font-size: 14rem;
  }
}

// Tablet
@media screen and (min-width: $breakpoint-mobile + 1) and (max-width: $breakpoint-tablet) {
  .title_container, .type_container, .type_container span, .nav_item_container {
    font-size: 1rem;
  }

  .title_splitter {
    font-size: 5rem;
  }
}

// Small desktops
@media screen and (min-width: $breakpoint-tablet + 1) and (max-width: $breakpoint-small-desktop) {
  .title_container, .type_container, .type_container span, .nav_item_container {
    font-size: 3rem;
  }

  .title_splitter {
    font-size: 10rem;
  }
}

// Large desktops and beyond
@media screen and (min-width: $breakpoint-small-desktop + 1) {
  .title_container, .type_container, .type_container span, .nav_item_container {
    font-size: 3.5rem;
  }

  .title_splitter {
    font-size: 20rem;
  }
}