.main {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100%;
}

.main_background_splitter {
  position: absolute;
  height: 100vh;
  width: 50%;
  right: 0;
  z-index: 1;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {background: #AEC6CF;}
  20% {background: #F3E5AB;}
  40% {background: #E5D5D0;}
  60% {background: #D6CED2;}
  80% {background: #AFCBBD;}
  100% {background: #AEC6CF;}
}

@keyframes gradient_text {
  0% {color: #AEC6CF;}
  20% {color: #F3E5AB;}
  40% {color: #E5D5D0;}
  60% {color: #D6CED2;}
  80% {color: #AFCBBD;}
  100% {color: #AEC6CF;}
}

#particles {
  position: absolute;
  height: 100vh;
  z-index: 0;
}

.title {
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.title, .title_splitter{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.nav_container {
  display: flex;
  width: 100%;

  .nav_logo img {
    width: 8rem;
    padding: 1.5rem;
    position: absolute;
  }
}

.title_splitter {
  font-size: 16rem;
  color: #1d1d1d;

  .main_title_left {
    animation: gradient_text 20s ease infinite;
    color: white;
  }

  .main_splitter {
    padding-left: 5rem;
  }

  .main_title_right {
    color: #1d1d1d;
  }
}